@import url('https://fonts.googleapis.com/css2?family=Blum&display=swap');

body {

  background-color: #6e13a7;
  font-family: 'Sniglet', cursive;

  font-size: 16px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  color: #21c4c7;
  font-size: 72px;
  font-weight: bold;
  margin: 100px 0 50px 0;
}

button {
  background-color: #ff00ff;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; /* or any other value to adjust the degree of rounding */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff0077;
}

#container {
  display: flex;
  width: 100%;
  justify-content: center; /* centers the items horizontally within the container */
  align-items: center; /* centers the items vertically within the container */
}


.subtitle {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

#parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}